.header {
  grid-area: header;
  background-color: green;
  display: flex;
  justify-content: space-between;

  img {
    width: 20px;
  }
}

.loginBlock {
  width: 200px;
  border: 1px solid pink;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}